body { margin: 50px; font-family: sans-serif; background: #fff; }
#container { margin: 0 auto; width: 700px;
	-webkit-box-shadow: 0 2px 10px rgba(0,0,0,0.1);
	        box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

#header, #footer {	
	display: block;
	color: #fff;
	background: #da5a47;

	a {
		color: #fff;
	}
}

#header { 
	border-radius: 7px 7px 0 0;
	padding: 25px;
	&:after {
		content: '.'; 
		display: block; 
		height: 0; 
		clear: both; 
		visibility: hidden;
	}
	a { text-decoration: none; }

	h1 { float: left; margin: 0; font-weight: normal; font-size: 30px; line-height: 1; }

	nav { 
		
		display: block;
		float: right; 

		ul {
			
			margin: 0;
			list-style-type: none; 

			li {

				float: left;
				margin-left: 20px; 
				
				a {
					display: block;
					margin-top: 4px;
					line-height: 22px; 
					&:hover, &.active {
						border-bottom: 2px solid #fff;
					}
					&.active {
						cursor: default;
					}
				}
			}
		}
	}
}




#content {
	display: block;
	padding: 25px;
	background: #fff;
	h1 { margin-top: 0; font-size: 35px; font-weight: bold; }
	a { 
		color: #da5a47;
		text-decoration: none; 
		&:hover {
			text-decoration: underline;
		}
	}
}


#footer {
	border-radius: 0 0 7px 7px;
	padding: 15px;
	font-size: 12px;
	text-align: center;
}