@import "bootstrap-variables";
@import "../bower_components/bootstrap/scss/mixins";
@import "../bower_components/bootstrap/scss/normalize";
@import "../bower_components/bootstrap/scss/print";
@import "../bower_components/bootstrap/scss/reboot";
@import "../bower_components/bootstrap/scss/grid";
@import "../bower_components/bootstrap/scss/utilities";
@import "../bower_components/bootstrap/scss/forms";
@import "../bower_components/bootstrap/scss/responsive-embed";
@import "../bower_components/bootstrap/scss/tables";
@import "utilities-spacing";
@import "../bower_components/bootstrap/scss/utilities-responsive";

@import "type";


body {
	background: #fff;
}

.container-fluid {
	max-width: 1200px;
}

img {
	max-width: 100%;
	height: auto;
}

.center-vertical-wrapper {
	position: relative;
	.center-vertical {
	  position: relative;
	  top: 50%;
	  transform: translateY(-50%);
	}
}


