{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<link rel="home" href="{{ siteUrl }}" />
	
	<!-- build:css styles/vendor.css -->
	<!-- bower:css -->
	<link rel="stylesheet" href="../resources/bower_components/normalize-css/normalize.css" />
	<!-- endbower -->
	<!-- endbuild -->

	<!-- build:css /resources/css/style.css -->
	    <link rel="stylesheet" href="../resources/css/main.css">
	<!-- endbuild -->
	
	<!-- build:js /resources/js/vendor/modernizr.js -->
	    <script src="../resources/bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
</head>

<body>
	<div id="container">
		<header id="header">
			<h1><a href="{{ siteUrl }}">{{ siteName }}</a></h1>

			<nav>
				<ul>
					<li><a href="{{ url('news') }}" {% if craft.request.firstSegment == 'news' %}class="active"{% endif %}>News</a></li>
				</ul>
			</nav>
		</header>

		<main id="content" role="main">
			{% block content %}
				<p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
				<p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
			{% endblock %}
		</main>

		<footer id="footer">
			Copyright {{ now.year }} {{ craft.request.serverName | ucfirst }}. All rights reserved  •  Built with <a href="http://buildwithcraft.com">Craft</a>
		</footer>
	</div>

	
	<!-- build:bower /resources/js/vendor.js -->
	    <!-- bower:js -->
	    <script src="../resources/bower_components/jquery/dist/jquery.js"></script>
	    <!-- endbower -->
	<!-- endbuild -->

	<!-- build:js /resources/js/app.min.js -->
	    <script src="../resources/js/app.js"></script>
	<!-- endbuild -->

</body>
</html>
